.login_page {
  display: flex;
  height: 100vh;

  .login_section {
    > img {
      margin: auto;
    }

    margin: auto;
    border-radius: 10px;
    width: 384px;
    text-align: center;

    .login_section_prag {
      font-family: (--yekan);
      color: var(--grays-white, #FFF);
      text-align: center;
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      .login_section_prag_input {
        color: var(--grays-white, #FFF);
        text-align: right;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

.login_ui_input {
  > * {
    font-family: var(--yekan);
  }

  font-family: var(--yekan);
}

.inputSection {
  margin-bottom: 8px;
  height: 82px;
}

.inputConstorller {
  background: #273446;
}

.login_main_sec {
  border-radius: 10px;
  background: rgba(39, 52, 70, 0.50);
  padding: 24px;

  .login_section_label {
    color: var(--grays-white, #FFF);

    display: block;
    text-align: right;
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .login_section_input {
    margin-bottom: 16px;
    display: flex;
    padding: 13px;
    border-radius: 10px;
    background: var(--grays-600, #273446);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    color: #ffffff;
  }

  .login_btn_sign_up {
    line-height: 56px;
    height: 56px;
    cursor: pointer;
    color: var(--background-color-dark, #161E28);
    font-family: var(--yekan);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    margin-top: 8px;
    border: 0;
    border-radius: 50px;
    background: var(--primary-main, #FFD100);
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    padding: 0px 114px;

    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .login_btn_sign_up:hover {
    background: var(--Primary-300, #BF9D00);
    color: var(--Background-Color-Dark, #161E28);
  }

  .login_btn_login_disable {
    background: var(--Grays-600, #273446) !important;
    color: var(--Grays-500, #475569) !important;
    border: 0 !important;
  }
  .login_btn_login:hover {
    border: 1.5px solid var(--Primary-Main, #FFD100);
    background: rgba(255, 241, 179, 0.20);
  }
  .login_btn_login {
    height: 56px;
    margin-top: 12px;
    color: var(--primary-main, #FFD100);
    font-family: var(--yekan);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 50px;
    background: transparent;
    border: 1px solid var(--primary-main, #FFD100);
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 114px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;


  }

  //width: 384px;
}

.back_link {
  position: absolute;
  top: 100px;
  right: 100px;
  color: var(--Primary-Main, #FFD100);
  text-align: right;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media screen and (max-width: 426px) {
  .back_link {
    right: 30px!important;
  }
}