.blog_cart {
  display: flex;
  padding: 16px;
  flex-direction: column;

  align-items: center;
  gap: 8px;

  border-radius: 15px;
  background: var(--grays-600, #273446);

  .blog_cart_image {
    width: 100%;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }

  .blog_cart_title {
    margin-bottom: 16px;
    margin-top: 0;
    color: var(--grays-white, #FFF);
    text-align: right;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .blog_cart_prag {
    color: var(--grays-200, #CCD1D8);
    text-align: right;
    margin-top: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    height: 98px;
    overflow: hidden;
  }

  .blog_cart_info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .blog_cart_date {
      display: flex;
      column-gap: 8px;
      color: var(--grays-300, #A0A8B3);
      flex-wrap: wrap;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 200% */

    }

    .blog_cart_link {

      a {
        display: flex;
        column-gap: 8px;
        color: var(--primary-main, #FFD100);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: 0;
      }

    }

  }
}


.blog_box {
  margin-right: 120px;
  margin-left: 120px;

  .blog_box_head {
    display: flex;
    justify-content: space-between;

    .blog_box_main_title {
      color: var(--grays-white, #FFF);


      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .blog_box_main_subtitle {
      color: var(--grays-300, #A0A8B3);

      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .blog_sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0;

  }

  .blog_head_link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    a {
      margin-bottom: 32px;
      text-decoration: 0;
      column-gap: 8px;
      display: flex;
      color: var(--primary-main, #FFD100);
      text-align: right;


      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .blog_box {
    margin-right: 16px;
    margin-left: 16px;

    .blog_box_head {
      .blog_box_main_title {
        font-size: 24px!important;
      }

      .blog_box_main_subtitle {
        font-size: 14px!important;
      }
    }

    .blog_sec {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 0;

    }

    .blog_head_link {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      a {
        margin-bottom: 32px;
        text-decoration: 0;
        column-gap: 8px;
        display: flex;
        color: var(--primary-main, #FFD100);
        text-align: right;


        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}
