.comments_sec {
  margin-top: 80px;

  margin-right: 120px;
  margin-left: 120px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.00);
  padding: 32px;
  background: linear-gradient(120deg, #040B14 31.51%, rgba(4, 11, 20, 0.00) 60.49%);

  .comments_head {
    display: flex;
    column-gap: 16px;
    justify-content: center;

    .comments_title {
      color: var(--grays-white, #FFF);
      margin: 0;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .comments_alarm_box {
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--grays-white, #FFF);

    align-items: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */

    button {
      border-radius: 50px;
      border: 1.5px solid var(--primary-main, #FFD100);
      display: flex;
      width: 112px;
      height: 40px;
      padding: 12px 20px;
      margin: 0 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-family: var(--yekan);
      color: var(--primary-main, #FFD100);
      background: transparent;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  .have_padding {
    margin-right: 120px;
  }

  .comments_body_seec {
  flex-grow: 1;
  }

  .comments_cart {
    border-radius: 10px;
    background: #1C2737;
    display: flex;
    margin-bottom: 24px;
    padding: 24px 20px;

    align-items: center;
    gap: 16px;

    .comments_cart_head {
      display: flex;
      justify-content: space-between;

      .comments_title {
        margin: 0;
        color: var(--grays-white, #FFF);
        text-align: right;
        align-self: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .span_btn {

        width: 160px;
        height: 40px;


        align-items: center;
        border-radius: 50px;
        border: 1px solid #FFF;
        background: linear-gradient(109deg, #394659 23.3%, #162233 84.32%);
        color: var(--grays-white, #FFF);
        font-family: var(--yekan);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .comments_date {
        color: var(--grays-white, #FFF);
        margin-right: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 200% */
      }
    }

    .comments_pragh {
      color: var(--grays-white, #FFF);
      text-align: right;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }


    .comments_footer {
      display: flex;
      justify-content: flex-end;
      gap: 24px;

      button {
        color: var(--grays-white, #FFF);
        align-items: center;

        display: flex;
        gap: 8px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: 0;
        background: transparent;
      }
    }
  }
}