.main_dashboard{
  flex-grow: 1;
  .main_dashboard_sec_one{
    display: flex;
    column-gap: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    >div{
      flex: 1 0 45%;
      border-radius: 10px;
      border: 1px solid rgba(204, 209, 216, 0.00);
      background: linear-gradient(110deg, rgba(39, 52, 70, 0.50) 0.27%, rgba(39, 52, 70, 0.00) 101.49%);
      display: flex;
      padding: 51px 24px 52px 43px;
      box-sizing: border-box;

    }
  }
  .main_dashboard_sec_two{
    display: flex;
    column-gap: 24px;
    flex-grow: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    >div{
      flex: 1 0 30%;
      border-radius: 10px;
      border: 1px solid rgba(204, 209, 216, 0.00);
      background: linear-gradient(110deg, rgba(39, 52, 70, 0.50) 0.27%, rgba(39, 52, 70, 0.00) 101.49%);
      display: flex;
      padding: 51px 24px 52px 43px;
      box-sizing: border-box;
    }

  }

}

.main_circle_chart_sec{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  background: linear-gradient(180deg, #FFD100 0%, #C18000 100%);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  .main_circle_one{
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    background: #273446;
    z-index: 2;
  }

}

.main_dashboard_sub_sec{
  display: flex;
  column-gap: 24px;
  justify-content: center;
  .main_dashboard_sub_sub_prag{
    color: var(--grays-200, #CCD1D8);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    margin: 0;
  }
  .main_dashboard_sub_prag{
    color: var(--grays-white, #FFF);
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}


.dashboard_sidebar {
  height: calc(100vh - 300px);
  display: flex;
  padding: 24px 0;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: rgba(39, 52, 70, 0.30);
  flex-direction: column;
  width: 300px;

  .dashboard_sidebar_avatar {
    .dashboard_sidebar_avatar_sec {
      display: flex;
      width: 88px;
      height: 88px;
      padding: 15px 11px 0px 11px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: var(--grays-100, #F4F6F8);

    }

    p {
      color: var(--grays-white, #FFF);
      margin-top: 12px;
      margin-bottom: 40px;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .dashboard_sidebar_menu {

    margin: 0;
    padding: 0;
    list-style: none !important;
    text-align: right;
    width: 100%;

    > .m_active {
      position: relative;
      background: linear-gradient(90deg, rgba(255, 209, 0, 0.00) 0%, rgba(255, 209, 0, 0.19) 100%);

      &::after {
        position: absolute;
        content: '';
        height: 100%;
        border-radius: 3px 0px 0px 3px;
        background: var(--primary-main, #FFD100);
        width: 5px;
        top: 0;
        right: 0;

      }
    }

    li {

      &:hover {
        background: linear-gradient(90deg, rgba(255, 209, 0, 0.00) 0%, rgba(255, 209, 0, 0.19) 100%);

        &::after {
          position: absolute;
          content: '';
          height: 100%;
          border-radius: 3px 0px 0px 3px;
          background: var(--primary-main, #FFD100);
          width: 5px;
          top: 0;
          right: 0;

        }
      }

      padding: 8px 24px;

      position: relative;

      a {
        display: flex;
        column-gap: 16px;
        color: var(--grays-300, #A0A8B3);
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
      }
    }


  }

  .dashboard_sidebar_menu_logout {
    column-gap: 12px;
    align-items: center;
    color: var(--semantic-colors-error, #FD2347);
    text-align: right;
    display: flex;
    text-decoration: 0;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    padding: 0 24px;
    margin-top: 40px;
    box-sizing: border-box;

  }
}

.sub_name{
  display: inline-block;
  color: #FFD100!important;
}


.login_btn_login {
  height: 56px;
  margin-top: 12px;
  color: var(--primary-main, #FFD100);
  font-family: var(--yekan);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 50px;
  background: transparent;
  border: 1px solid var(--primary-main, #FFD100);
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 114px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;


}
.main_dashboard_sub_sec__empty{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
