html {
  overflow-x: hidden;

  body {
    direction: rtl;
    font-family: var(--yekan) !important;
    background: var(--background-color-dark, #161E28) !important;
    margin: 0;
    overflow-x: hidden;
  }
}

input, label, p, div {
  font-family: var(--yekan) !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161E28;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  padding: 5px;
  margin: 5px;
  border: 3px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn_2x {
  cursor: pointer;
  display: flex;
  width: 273px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 0;
  color: var(--background-color-dark, #161E28);
  font-family: var(--yekan);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_primary {
  background: var(--primary-main, #FFD100);
}

.btn_gray {
  border-radius: 50px;
  background: var(--grays-500, #475569);
  color: #ffffff;
}

.btn_primary:hover {
  background: var(--primary-300, #BF9D00);
}

.blog_main_section {
  margin-right: 120px;
  margin-left: 120px;
}

.btn_primary_outline {
  color: var(--primary-main, #FFD100) !important;
  border: 1px solid var(--primary-main, #FFD100) !important;

  background: transparent;
}

.dashboard {
  height: calc(100vh);
  //column-gap: 24px;
  //display: flex;
  //margin-right: 120px;
  //margin-left: 120px;
}
.dashboard_content{
  column-gap: 24px;
  display: flex;
  margin-right: 120px;
  margin-left: 120px;
}

a {
  font-family: var(--yekan) !important;
}

[data-slot="input-wrapper"] {
  background: rgba(39, 52, 70, 0.46) !important;
}

[data-slot="input-wrapper"]:hover {
  background: #273446 !important;
}

[data-slot="helper-wrapper"] {
  text-align: left;
}

.text-left {
  [data-slot="inner-wrapper"] {
    direction: ltr !important;
    text-align: left !important;
  }

}

.Toastify__toast-body{
  font-size: 13px!important;
}



.breadcrumb {
  position: relative;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 32px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding-left: 32px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("/Movir-vuesax-linear-vuesax-linear-arrow-left.svg");
        margin-right: 8px;
        margin-top: 4px;
      }

      &:last-child::after {
        display: none;
      }

      a {
        color: var(--grays-white, #FFF);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }
    }
  }
}

.description_Box{
  background: #747F8E!important;
  height: 500px!important;
}