.slider_head {
  position: absolute;
  top: 0;
  right: 0;

  .slider_main_title {
    position: relative;
    color: var(--grays-white, #FFF);
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &::after {
      content: '';
      width: 32px;
      height: 8px;
      border-radius: 18px;
      background: var(--primary-main, #FFD100);
      display: inline-block;
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  .slider_main_subtitle {
    color: var(--grays-300, #A0A8B3);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
    display: block;
  }
}


@media only screen and (max-width: 640px) {
  .slider_cart_sec {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 58px!important;
    //margin-top: 32px;
    //margin-bottom: 100px;
  }

}

@media only screen and (max-width: 768px) {
  .slider_main_title {
    color: var(--Grays-White, #FFF);
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .slider_main_subtitle {
    color: var(--Grays-300, #A0A8B3);


    font-size: 14px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  };
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}



.slider_cart {
  width: 100%;
  a{
    text-decoration: none;
  }
  .slider_cart_image {
    position: relative;
    .slider_cart_info {
      position: absolute;
      top: 16px;
      right: 8px;
      list-style: none;
      z-index: 2;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 4px;
      }
    }

    .slider_cart_image {
      width: 100%;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      border-radius: 14px;
    }

    .slider_cart_imdb {
      position: absolute;
      border-radius: 49px;
      background: var(--primary-main, #FFD100);
      bottom: 0;
      padding: 4px 13px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;


      right: 50%;
      transform: translate(50%, 50%);
    }
  }

  .slider_cart_name {
    padding: 8px;
    color: var(--grays-white, #FFF);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}



.margin_padd{
  padding-top: 60px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .slider_cart_imdb {
    color: #000;
    text-align: center;

    font-size: 12px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .slider_cart_name {
    color: var(--Grays-White, #FFF);
    text-align: center;

    font-size: 16px!important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}


.slider_cart_sec {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 32px;
  margin-bottom: 100px;
}



@media only screen and (max-width: 640px) {
  .slider_cart_sec {
    margin-right: 16px;
    margin-left: 15px;
    margin-bottom: 0;
    //margin-top: 32px;
    //margin-bottom: 100px;
  }

}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}

.cart_slider_padding{
  padding-top: 133px!important;
}

.trailer_slider_sec {
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 64px;
  padding-bottom: 64px;

  background: var(--secondary-300, #081526);

  .slider_head {
    position: absolute;
    top: 0;
    right: 0;

    .slider_main_title {
      position: relative;
      color: var(--grays-white, #FFF);
      margin-top: 15px;

      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &::after {
        content: '';
        width: 32px;
        height: 8px;
        border-radius: 18px;
        background: var(--primary-main, #FFD100);
        display: inline-block;
        position: absolute;
        bottom: 100%;
        right: 0;
      }
    }

    .slider_main_subtitle {

      color: var(--grays-300, #A0A8B3);

      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 32px;
      display: block;
    }
  }


  .trailer_cart {
    width: 100%;
    margin-bottom: 50px;
    .slider_cart_image {
      position: relative;

      .trailer_cart_play_btn {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }

      .slider_cart_image {
        width: 100%;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        max-height: 300px;
      }


      .trailer_cart_info {
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        width: 80%;
        right: 10%;
        transform: translate(0, -50%);
        border-radius: 15px;
        border: 1px solid #CCD1D8;
        background: rgba(15, 41, 76, 0.50);
        backdrop-filter: blur(25px);
        display: flex;
        padding: 16px;
        justify-content: space-between;
        gap: 8px;

        .slider_cart_name {
          color: var(--grays-white, #FFF);
          text-align: center;

          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .slider_cart_btn {
          align-self: center;
          width: 86px;
          height: 40px;
          border: 0;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          cursor: pointer;
        }
      }
    }
  }
}


.banner_sec {
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--secondary-300, #081526);
  display: flex;
  margin-bottom: 100px;

  .banner_text {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner_title {
      color: var(--grays-white, #FFF);
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .banner_pragh {
      color: var(--grays-white, #FFF);
      text-align: right;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      margin-bottom: 26px;
      margin-top: 0;
    }

    button {
      justify-self: end;
    }
  }

  .banner_image {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }


}


@media only screen and (max-width: 768px) {

  .banner_sec {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
  }
  .banner_image {
    width: 100% !important;
    position: absolute;

    img {

    }

  }

  .banner_text {
    width: 100% !important;
    z-index: 3;
    text-align: center;

    button {
      color: var(--Background-Color-Dark, #161E28);
      font-size: 14px!important;

      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .banner_title{
    color: var(--Grays-White, #FFF);
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px!important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .banner_pragh {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}


.country_main_title {
  position: relative;
  color: var(--grays-white, #FFF);
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &::after {
    content: '';
    width: 32px;
    height: 8px;
    border-radius: 18px;
    background: var(--primary-main, #FFD100);
    display: inline-block;
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}

.country_main_subtitle {

  color: var(--grays-300, #A0A8B3);
  margin-top: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
  display: block;
}




@media only screen and (max-width: 768px) {
  .country_main_title {
    color: var(--Grays-White, #FFF);
    text-align: center;

    font-size: 24px!important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &::after {
      content: '';
      width: 32px;
      height: 8px;
      border-radius: 18px;
      background: var(--primary-main, #FFD100);
      display: inline-block;
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  .country_main_subtitle {

    color: var(--Grays-300, #A0A8B3);
    text-align: center;

    font-size: 14px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }


}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}

.country_sec {
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 100px;


  .country_grid {

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;

    > div {
      flex: 1 1 15%;
      max-width: 16.66%;
    }

    .cart {
      padding-top: 20px;

      .cart_box {
        border-radius: 10px;
        border: 1px solid #CCD1D8;
        background: linear-gradient(106deg, #273446 21.66%, rgba(39, 52, 70, 0.00) 100.05%);
        position: relative;

        img {
          position: absolute;
          top: 0;
          right: 50%;
          border-radius: 50%;
          transform: translate(50%, -50%);
        }

        p {
          color: var(--grays-white, #FFF);
          text-align: center;
          margin-top: 42px;

          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .country_sec {
    margin-right: 16px !important;
    margin-left: 16px !important;

    .country_grid {

      > div {
        flex: 1 1 50%;
        max-width: 50%;
      }

      .cart {
        .cart_box {
          p {
            font-size: 16px !important;

          }
        }
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}



.genre_cart_box {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;

  .genre_cart_image {
    max-width: 100%;
    height: 100%;
  }

  .genre_cart_text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: var(--grays-white, #FFF);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }
}


.country_sec {
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 100px;


  .country_grid {

    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;

    > div {
      flex: 1 1 15%;
      max-width: 16.66%;
    }

    .cart {
      padding-top: 20px;

      .cart_box {
        border-radius: 10px;
        border: 1px solid #CCD1D8;
        background: linear-gradient(106deg, #273446 21.66%, rgba(39, 52, 70, 0.00) 100.05%);
        position: relative;

        img {
          position: absolute;
          top: 0;
          right: 50%;
          border-radius: 50%;
          transform: translate(50%, -50%);
        }

        p {
          color: var(--grays-white, #FFF);
          text-align: center;
          margin-top: 42px;

          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .country_sec {
    margin-right: 16px !important;
    margin-left: 16px !important;

    .country_grid {

      > div {
        flex: 1 1 50%;
        max-width: 50%;
      }

      .cart {
        .cart_box {
          p {
            font-size: 16px !important;

          }
        }
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}
