.top_bar {


  display: flex;
  padding: 16px 120px;
  justify-content: space-between;

  gap: 8px;
  align-self: stretch;
  border-bottom: 1px solid var(--grays-600, #273446);
  background: var(--background-color-dark, #161E28);

  .top_bar_menu {
    height: fit-content;
    align-self: center;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 32px;

        a {
          color: var(--grays-300, #A0A8B3);
          text-align: center;

          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 200% */
          text-decoration: none;
        }
      }
    }
  }

  .top_bar_btn_section {
    display: flex;

    .top_bar_login {
      width: unset !important;
      padding: 0 30px;
      height: 40px;

      a {
        color: var(--primary-main, #FFD100);
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

    }

    .top_bar_kharid_eshtarak {
      margin-left: 16px;
      color: var(--background-color-dark, #161E28);
      height: 40px !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      box-sizing: border-box;
    }

    .top_bar_user_bar_sec {
      position: relative;
      margin-left: 32px;
      display: flex;

      .top_bar_user_bar_avatar {
        background: #ffffff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-flex;
        margin-left: 8px;
        text-align: center;
        box-sizing: border-box;
        justify-content: center;

      }

      .top_bar_user_bar_user {
        margin-left: 8px;
        color: var(--grays-white, #FFF);
        height: fit-content;
        align-self: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 200% */
      }

      .top_bar_user_bar_user_show_menu {
        align-self: center;
        height: 16px;
      }
    }

    .notific_sec {
      display: flex;
    }
  }
}

.top_main_menu {
  display: flex;
  padding: 16px 120px 24px 120px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  .main_menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: var(--grays-white, #FFF);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
        padding: 0 16px;
        display: flex;

        img {
          margin-right: 6px;
          align-self: center;

        }
      }
    }

  }

  .search_sec {
    display: flex;
    width: 306px;
    height: 48px;
    padding: 0 16px 0 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: var(--grays-600, #273446);

    input {
      background: transparent;
      border: 0;

      &:focus {
        outline: 0;
      }
    }

  }
}

.user_menu_main_sec {
  position: absolute;
  background-color: #273446;
  z-index: 3;
  width: 300px;
  top: calc(100% + 16px);
  right: 0;
  padding: 16px;
  border-radius: 10px;

  .user_menu_item {
    gap: 8px;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #A0A8B3;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
  }
}


@media only screen and (max-width: 640px) {
  .top_main_menu,
  .top_bar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}
