.main_cover_sec {
  position: relative;
  padding-right: 120px;
  padding-left: 120px;

  .main_cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 50%;
    overflow: hidden;
    height: calc( 100vh - 160px);
    .main_cover_image{
      width: 100%;
      height: auto;
    }
  }



  .main_cover_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    position: relative;
    z-index: 2;

    .main_cover_info_grid {
      grid-area: 1 / 1 / 2 / 2;

      .main_image {

        display: flex;

        .main_image_position {
          position: relative;
          display: flex;

          img {

            //width: 100%;
            border-radius: 10px;
            border: 1px solid #FFF;
            height: auto;
          }
        }


        .main_image_btn {
          position: absolute;
          top: 100%;
          right: 0;
          width: 100%;
          transform: translate(0, -50%);
          display: flex;
          justify-content: space-around;

          button {
            width: unset;
            padding-right: 16px;
            padding-left: 16px;
          }
        }
      }
    }

    .main_text_info_grid {
      grid-area: 1 / 2 / 2 / 4;

      .main_text_info_grid_head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .main_title {
          color: var(--grays-white, #FFF);
          text-align: right;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 0;

        }

        .like_btn {

        }
      }

      .main_text_info_grid_body {
        display: flex;
        column-gap: 28px;

        .main_info {

          color: var(--grays-white, #FFF);
          text-align: right;
          display: flex;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          column-gap: 8px;
          margin-top: 0;
          margin-bottom: 16px;
          a{
            text-decoration: 0;
            color: #ffffff;
          }
          img {
            padding-top: 4px;
          }
        }

        .info_box {
          display: flex;
          padding: 24px;
          justify-content: center;
          border-radius: 15px;
          border: 1px solid #CCD1D8;
          background: rgba(15, 41, 76, 0.30);
          backdrop-filter: blur(5px);
        }

        .main_text_info_info_sec {
          width: 50%;
        }

        .main_text_info_slide_sec {
          width: 50%;
        }

      }
    }
  }
}

.main_description {
  margin-top: 120px;
  display: flex;
  margin-right: 120px;
  margin-left: 120px;
  position: relative;
  padding: 32px 32px 8px 32px;


  border-radius: 15px;
  background: rgba(39, 52, 70, 0.30);
  backdrop-filter: blur(5px);
  color: var(--grays-white, #FFF);
  text-align: right;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */

}

.download_box {
  margin-top: 100px;
  border-radius: 15px;
  background: #040B14;
  margin-right: 120px;
  margin-left: 120px;
  padding: 30px;
  position: relative;

  .download_box_head {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 24px;
    .download_box_head_title {
      color: var(--grays-white, #FFF);

      margin: 0;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    img {

    }
  }


  .download_box_part {
    border-radius: 10px;
    background: #151F2D;
    margin-bottom: 24px;

    padding: 24px 20px;

    .download_box_part_head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      .download_box_part_head_title {
        color: var(--grays-white, #FFF);
        text-align: right;
        margin: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }


    }

    .download_box_part_body{
      margin-bottom: 24px;
      border-radius: 10px;
      background: rgba(39, 52, 70, 0.70);
      display: flex;
      justify-content: space-between;
      padding: 16px 0px 16px 16px;
      .download_box_part_main_btn_sec{
        display: flex;
        column-gap: 16px;
        &::before{
          content: '';
          width: 5px;
          height: 48px;
          border-radius: 3px 0px 0px 3px;
          background: var(--primary-main, #FFD100);
          display: inline-block;
        }
        .download_box_part_main_btn{
          font-family: var(--yekan);
          display: inline-block;
          width: 235px;
          height: 48px;
          padding: 12px 8px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 50px;
          border: 1px solid #FFF;
          background: linear-gradient(109deg, #394659 23.3%, #162233 84.32%);
          color: var(--grays-white, #FFF);

          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          a{
            color: var(--grays-white, #FFF);
            text-decoration: 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }

      .download_box_part_info{
        text-align: left;
        .download_box_part_info_large{
          color: var(--grays-white, #FFF);

          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0;

        }
        .download_box_part_info_small{
          display: inline-block;
          color: var(--grays-100, #F4F6F8);


          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 200% */
          margin: 0;
          margin-right: 16px;
        }
      }
    }
  }
}


.slider_cart_sec {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 32px;
  margin-bottom: 100px;
}



@media only screen and (max-width: 640px) {
  .slider_cart_sec {
    margin-right: 16px;
    margin-left: 15px;
    margin-bottom: 0;
    //margin-top: 32px;
    //margin-bottom: 100px;
  }

}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1538px) {
}




.slider_cart {
  width: 100%;

  .slider_cart_image {
    position: relative;
    .slider_cart_info {
      position: absolute;
      top: 16px;
      right: 8px;
      list-style: none;
      z-index: 2;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 4px;
      }
    }

    .slider_cart_image {
      width: 100%;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      border-radius: 14px;
    }

    .slider_cart_imdb {
      position: absolute;
      border-radius: 49px;
      background: var(--primary-main, #FFD100);
      bottom: 0;
      padding: 4px 13px;
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;


      right: 50%;
      transform: translate(50%, 50%);
    }
  }

  .slider_cart_name {
    padding: 8px;
    color: var(--grays-white, #FFF);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}



