.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    display: inline-block;
    margin-left: 16px;
}


.swiper-button-next:after {
    background-image: url("/sliderArowLeft.svg");
}

.swiper-button-prev:after {
    background-image: url("/sliderArowRight.svg");
}

.mainSlider .swiper-button-prev:after {
    right: 132px;
}

.mainSlider .swiper-button-next:after {
    right: 196px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    width: 48px;
    height: 48px;
    display: inline-block;
}

.mainSlider .swiper-button-prev:after,
.mainSlider .swiper-button-next:after {
    content: '';
    position: absolute;
    bottom: 40px;
    z-index: 5;
    cursor: pointer;
}


span.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    background: var(--grays-600, #273446);
    display: inline-block;
    margin: 0 2px;
}

.swiper-pagination-bullet-active {
    width: 24px !important;
    border-radius: 18px !important;
    background: var(--primary-main, #FFD100) !important;

}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    height: 48px;
    align-items: center;
    display: flex;
}
.mainSlider .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {

    position: absolute;
    bottom: 40px;
    z-index: 5;

    right: 260px;
}

.slide-info {
    position: absolute;
    bottom: 40px;
    left: 132px;
    text-align: left;
}

.main-title {
    color: var(--grays-white, #FFF);

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slide-imdb {
    display: inline-flex;
    padding: 4px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 49px;
    background: var(--primary-main, #FFD100);

    color: #000;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainSlider{
    height: calc(100vh - 161px)!important;
}
.main-slide-link{width: 100%;height: 100%}